.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius:4px;
	display: flex;
	position: relative;
	display: flex;
	align-items: center;
}

.filters button {
        font-size: 18px;
        background-color: #FF5A5F;
        color: #FFFFFF;
        height: 48px;
        width: 20%;
        border: 0;
        border-radius: 4px;
        position: absolute;
	right: 30px;
}

.locations, .amenities {
	height: 100%;
	width: 25%;
}
.locations {
	border-right: 1px solid #DDDDDD;
}
.locations h3, .amenities h3 {
	font-weight: 600;
	margin-bottom: 0;
	margin-left: 30px;
}
.locations h4, .amenities h4 {
	font-weight: 400;
	font-size: 14px;
	margin: 0;
	margin-left: 30px;
}
.popover {
	display: none;
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	list-style-type: none;
	padding: 0;
	margin-top: 18px;
}
.popover li {
	margin-bottom: 30px;
	margin-top: 30px;
}
.popover li h2 {
	font-size: 16px;
	padding-left: 15px;
}
.filters button:hover {
	opacity: 90%
}
.locations:hover .popover {
	display: block;
}
.amenities:hover .popover {
	display: block;
}
